# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
/.recommenders/
Proyecto/.metadata/version.ini
Proyecto/.metadata/.plugins/org.eclipse.ui/dialog_settings.xml
Proyecto/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Proyecto/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Proyecto/.metadata/.plugins/org.eclipse.ui.intro/introstate
Proyecto/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
Proyecto/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Proyecto/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Proyecto/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Proyecto/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
Proyecto/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Proyecto/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Proyecto/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Proyecto/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Proyecto/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Proyecto/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Proyecto/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Proyecto/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments_1
Proyecto/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments.gen
Proyecto/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
Proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
Proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Proyecto/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ajdt.ui.prefs
Proyecto/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Proyecto/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
Proyecto/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Proyecto/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Proyecto/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Proyecto/.metadata/.mylyn/.taskListIndex/segments_1
Proyecto/.metadata/.mylyn/.taskListIndex/segments.gen
Proyecto/.metadata/.lock
